.tdStyleMonth {
    min-width: 159px;
    height: 180px;
    border: 1px solid #9a9191e6;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 20px rgba(221, 215, 215, 0.43) inset;
    background-color: rgba(221, 215, 215, 0.43);
    background-size: 50px 50px;
    background-image: linear-gradient(-45deg, transparent 52%, rgba(255, 255, 255, 0.9) 54%, transparent 55%, transparent),
    linear-gradient(45deg, transparent 52%, rgba(255, 255, 255, 0.6) 54%, transparent 55%, transparent),
    linear-gradient(-45deg, transparent 50%, rgba(0, 0, 0, 0.1) 52%, transparent 53%, transparent),
    linear-gradient(45deg, transparent 50%, rgba(0, 0, 0, 0.05) 52%, transparent 53%, transparent);

    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5), 3px 3px 10px rgba(76, 33, 20, 0.45);
    color: #2b010194;
    word-wrap: break-word;

}

.tdStyleMonth:hover {
    background-color: rgba(229, 229, 229);
}

.oneMonth {
    background-color: rgb(255, 255, 255);
    min-width: 210px;
    min-height: 250px;
    border-radius: 2px;
    border: 5px solid #21141454;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
    box-shadow: 0px 0px 155px 80px #21141440 inset;

    padding: 15px;
    max-width: 1200px;
}

.weekDayOnMonth {
    font-size: 14px;
    background-color: rgba(104, 64, 68, 0.47);
    box-shadow: 0 0 10px #9b7270 inset; /* Параметры тени */
    border-radius: 2px;
    border: 1px solid rgba(53, 14, 18, 0.18);
    color: #401114;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5), 3px 3px 10px rgba(76, 33, 20, 0.45);
}

.eventList_ul {
    counter-reset: li;
    list-style: none;
    font: 12px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    margin: 0;
    list-style-type: none;


}

.eventList_ul .eventList_li {
    max-width: 110px;
    position: relative;
    left: 25px;
    display: flex;
    flex-direction: row;
    padding: .3em 0.1em .3em 1.2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
    list-style-type: none;
}

.eventList_ul .eventList_li:hover {
    background: #E9E4E0;
}

.eventList_ul .eventList_li:hover:before {
    transform: rotate(360deg);
}

.eventList_ul .eventList_li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.6em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.eventListEvery_ulModal {
    padding: 0;
    list-style-type: none;
    text-align: left;
    font-size: 12px;
    max-width: 100%;
    display: flex;
}

.eventListEvery_ul {
    padding: 0;
    list-style-type: none;
    text-align: left;
    font-size: 12px;
    max-width: 100%;

}

.eventListEvery_li {
    list-style-type: none;
    cursor: default;
    max-width: 140px;
    word-wrap: break-word;
    padding-left: 2px;
}
.eventListEvery_ulModal div  {
    min-width: 140px;
    border-radius: 5px;
    /*font-family: Garuda;*/
    background-color: #ffffff;;
    color: #401114;
    margin: 5px;
    border: 1px solid gray;
    padding: 3px;
    display: flex;
    align-items: center;

}
.eventListEvery_ulModal div div  {
    max-width: 140px;
    background-color: rgba(255, 255, 255, 0);;
    border: none;
    cursor: default;
    max-width: 140px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    text-align: center;
}


.today {
    border-radius: 5px;
    box-shadow: 0px 0px 13px -5px #357e61 inset;
    background-color: rgba(143, 212, 193, 0.46);
}


.modal_Description_event_title {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.modal_Description_event_header {
    display: flex;
}

.modal_Description_time_event {
    width: 110px;
    border: #9b7270;
    text-align: center;
}

.modal_Description_event {
    width: 155px;
    border: #9b7270;
    text-align: center;
}

#event_list {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(155, 114, 112, 0.52);
    background: #e4e4e48f;
    border-radius: 10px;
    padding: 10px 10px 10px 30px;
}
