
.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center
  }

#root {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center
}

.bigCalendar{
  border: 2px solid black ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  padding: 0 5px;
}

.oneMonth{
  flex-direction: column;
  width: auto;
  height: auto;
  /*border: 1px solid black ;*/
  text-align: center;
  padding: 8px 0 ;

}

.mainStyle{
  height: auto;
  border: 2px solid black ;
  display: flex;
  text-align: center;
  padding: 20px;
}


tr {

}



.weekDay {
  background-color: darkgray;
}

.changeYear {
  width: auto;
  height: auto;
}

.invisible {
  border: 1px solid white;
}
.invisible:hover {
  border: 1px solid white;
  background-color: white;
}